.option-container{
    --optionRotateX: 0deg;
    --optionOpacity: 1;

    display:block;
    transform: rotateX(var(--optionRotateX));
    opacity: var(--optionOpacity);

    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
}

.option-button{
    --buttonMargin:0px;
    --buttonTextDecoration: none;

    display: inline;
    margin-left: var(--buttonMargin);
    margin-right: var(--buttonMargin);

    box-sizing: border-box;
    line-height: 4rem;
    text-align: center;
    text-decoration: var(--buttonTextDecoration);
    font-size: 2rem;
    overflow-wrap: break-word;
    /* transform: scaleY(var(--buttonScaleY));
    opacity: var(--buttonOpacity); */

    transition: margin-left 0.5s ease, margin-right 0.5s ease;
}





