@font-face {
    font-family: 'marola';
    src: url('fonts/marola/marola__-webfont.woff2') format('woff2'),
         url('fonts/marola/marola__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'para';
    src: url('fonts/para/AveriaSans-Regular.woff2') format('woff2'),
         url('fonts/para/AveriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'para';
    src: url('fonts/para/AveriaSans-Italic.woff2') format('woff2'),
         url('fonts/para/AveriaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* @font-face{
    font-family: 'para';
    src: url('fonts/para/AveriaSans-Bold.woff2') format('woff2'),
         url('fonts/para/AveriaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */

@font-face{
    font-family: 'para';
    src: url('fonts/para/AveriaSans-BoldItalic.woff2') format('woff2'),
         url('fonts/para/AveriaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* videoContainer, image-cube, textInput, text-area, title: margin bottom; else: padding-bottom (slider must use padding) */

body{
    overflow: hidden;
}

#matter{
    position: fixed;
    left: 0%;
    top: 0%;
    -ms-touch-action: none;
        touch-action: none;
}

/* -------------------style for image cube--------------------- */

.image-cube{
    --faceSize: 30vw;
    --imageRotateX: -15deg;
    --imageRotateY: 30deg; 

    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;

    width: var(--faceSize);
    height: var(--faceSize);
    border: none;

    -webkit-transform-style: preserve-3d;

            transform-style: preserve-3d;
    -webkit-transform: perspective(10000px) rotateX(var(--imageRotateX)) rotateY(var(--imageRotateY));
            transform: perspective(10000px) rotateX(var(--imageRotateX)) rotateY(var(--imageRotateY));

    clear: both;
}

.image-cube-face{
    display: block;
    position: absolute;
    width: var(--faceSize);
    height: var(--faceSize);
    background-color: black;
    background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(#363636), color-stop(#c9c9c9), to(#ffffff));
    background: linear-gradient(270deg, #000000, #363636, #c9c9c9, #ffffff);
    background-size: 900% 900%;

    -webkit-animation: load 2s ease infinite;
    animation: load 2s ease infinite;

    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: -webkit-grab;
    cursor: grab;

    opacity: 0;
    -webkit-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;

    -webkit-backface-visibility: hidden;

            backface-visibility: hidden;
}
.image-cube-media{
    display: block;
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    border:none;
}
.image-cube-face:active{
    cursor:-webkit-grabbing;
    cursor:grabbing;
}

.image-cube-front {
    -webkit-transform: translateZ(calc(var(--faceSize)/2));
            transform: translateZ(calc(var(--faceSize)/2));
    background-color: red;
}
.image-cube-back {
    -webkit-transform: rotateY(180deg) translateZ(calc(var(--faceSize)/2));
            transform: rotateY(180deg) translateZ(calc(var(--faceSize)/2));
    background-color: green;
}
.image-cube-right {
    -webkit-transform: rotateY(90deg) translateZ(calc(var(--faceSize)/2));
            transform: rotateY(90deg) translateZ(calc(var(--faceSize)/2));
    background-color: yellow;
}
.image-cube-left {
    -webkit-transform: rotateY(-90deg) translateZ(calc(var(--faceSize)/2));
            transform: rotateY(-90deg) translateZ(calc(var(--faceSize)/2));
    background-color: blue;
}
.image-cube-top {
    -webkit-transform: rotateX(90deg) translateZ(calc(var(--faceSize)/2));
            transform: rotateX(90deg) translateZ(calc(var(--faceSize)/2));
    background-color: purple;
}
.image-cube-bottom {
    -webkit-transform: rotateX(-90deg) translateZ(calc(var(--faceSize)/2));
            transform: rotateX(-90deg) translateZ(calc(var(--faceSize)/2));
    background-color: maroon;
}

/* -------------------style for chat cube--------------------- */

#chat-cube{
    --faceWidthFour: 85vw;
    --faceHeightFour: 47.8125vw;
    --faceWidthTwo: 47.8125vw;
    --faceHeightTwo: 47.8125vw;

    --chatRotateX: 0deg;
    --chatRotateY: 0deg;

    --chatCubeScale: 0;

    position: fixed;
    /* left: calc(50% - var(--faceWidthFour)/2);
    top: calc(50% - var(--faceHeightFour)/2); */
    max-height: 80vh;
    max-width: 142.222222222vh;
    
    width: var(--faceWidthFour);
    height: var(--faceHeightFour);
    border: none;

    z-index: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    -webkit-transform-style: preserve-3d;

            transform-style: preserve-3d;
    -webkit-transform: perspective(10000px) rotateX(var(--chatRotateX)) rotateY(var(--chatRotateY)) scaleX(var(--chatCubeScale)) scaleY(var(--chatCubeScale));
            transform: perspective(10000px) rotateX(var(--chatRotateX)) rotateY(var(--chatRotateY)) scaleX(var(--chatCubeScale)) scaleY(var(--chatCubeScale));
}

.chat-cube-face{
    display: block;
    position: absolute; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
    border: 0.1rem black solid;
    width:100%;
    height:100%;

    -webkit-backface-visibility: visible;

            backface-visibility: visible;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
}
/* initial state: face four are front top bottom back, face two are left right */
.face-four{
    width: var(--faceWidthFour);
    height: var(--faceHeightFour);
}
.face-two{
    width: var(--faceWidthTwo);
    height: var(--faceHeightTwo);
}
.face-four-tb{
    width: var(--faceWidthFour);
    height: var(--faceWidthTwo);
}


.chat-cube-front{
    -webkit-transform: translateZ( calc(var(--faceWidthTwo)/2) );
            transform: translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-back{
    -webkit-transform: rotateY(180deg) translateZ( calc(var(--faceWidthTwo)/2) );
            transform: rotateY(180deg) translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-right{
    -webkit-transform: rotateY(90deg) translateZ( calc(var(--faceWidthFour) - var(--faceWidthTwo)/2));
            transform: rotateY(90deg) translateZ( calc(var(--faceWidthFour) - var(--faceWidthTwo)/2));
}
.chat-cube-left{
    -webkit-transform: rotateY(-90deg) translateZ( calc(var(--faceWidthTwo)/2) );
            transform: rotateY(-90deg) translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-top{
    -webkit-transform: rotateX(90deg) translateZ( calc( var(--faceHeightTwo) - (var(--faceHeightTwo) - var(--faceWidthTwo)/2) ) );
            transform: rotateX(90deg) translateZ( calc( var(--faceHeightTwo) - (var(--faceHeightTwo) - var(--faceWidthTwo)/2) ) );
}
.chat-cube-bottom{
    -webkit-transform: rotateX(-90deg) translateZ( calc(var(--faceHeightTwo) - var(--faceWidthTwo)/2) );
            transform: rotateX(-90deg) translateZ( calc(var(--faceHeightTwo) - var(--faceWidthTwo)/2) );
}

/********************************* Text  ************************************/
.appear{
    opacity: 1;
}
.disappear{
    opacity: 0;
}

.text{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    overflow: auto;
    width: 100%;
    height: 100%;

    text-align: center;
    padding: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.title{
    font-family:'marola';
    overflow-wrap: break-word;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
    margin-bottom: 12%;
    opacity: 0;
}

.paragraph{
    font-family: 'para', monospace;
    font-size: 2.7rem;
    margin: 0;
    padding-bottom: 10%;
    padding-left: 7.5%;
    text-align: left;
    
    width: 60%;
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
    clear: both;
}

.chat{
    opacity: 0;
    float: left;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

.response{
    float: right;
    /* text-align: right; */
    opacity: 0;
    -webkit-transform: rotateX(90deg) rotateY(180deg);
            transform: rotateX(90deg) rotateY(180deg);
}

.chat.send{
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}
.response.send{
    opacity: 1;
    -webkit-transform: rotateX(0deg) rotateY(180deg);
            transform: rotateX(0deg) rotateY(180deg);
}

/* ===RANGE SLIDER=== */
/* hide default */
input[type=range]{
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 40%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* =================== */
/* styling the thumb */
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background: rgb(var(--coloring), var(--coloring), var(--coloring));
    cursor: pointer;

    margin-top: -11px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

    -webkit-transform: scale(var(--scaling));

            transform: scale(var(--scaling));
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background: rgb(var(--coloring), var(--coloring), var(--coloring));
    cursor: pointer;

    transform: scale(var(--scaling));
}
  
  /* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background: rgb(var(--coloring), var(--coloring), var(--coloring));
    cursor: pointer;

    transform: scale(var(--scaling));
}

/* ================ */
/* styling the track */

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: black;
    border: 1px solid #010101;
}
  
input[type=range]:focus::-webkit-slider-runnable-track {
}

input[type=range]::-moz-range-track {
    width: 100%;
    /* height is diff for mozilla */
    height: 1px;
    cursor: pointer;
    background-color: black;
    border: 1px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    /* border-width: 16px 0; */
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    border: 1px solid #010101;
    background-color: black;
}
input[type=range]:focus::-ms-fill-lower {
}
input[type=range]::-ms-fill-upper {
    border: 1px solid #010101;
    background-color: black;
}
input[type=range]:focus::-ms-fill-upper {
}

/* === */
.slider{
    --scaling: 1;
    --coloring: 0;

    float: right;
    clear: both;
    margin: 0;
    padding-left: 7.5%;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-right: 7.5%;

    opacity: 0;
    -webkit-transform: rotateX(90deg) rotateY(180deg);
            transform: rotateX(90deg) rotateY(180deg);
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
}
.slider.send{
    opacity: 1;
    -webkit-transform: rotateX(0deg) rotateY(180deg);
            transform: rotateX(0deg) rotateY(180deg);
}


input[type=text]{
    width: 40%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

.textInput{
    float: left;
    clear: both;
    margin-left: 7.5%;
    margin-bottom: 10%;

    font-family: 'para', monospace;
    font-size: 2.4rem;
    font-style: oblique;

    opacity: 0;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
}
.textInput.send{
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}

.text-area{
    float: left;
    clear: both;
    margin-left: 7.5%;
    margin-bottom: 10%;

    font-family: 'para', monospace;
    font-size: 2.4rem;
    font-style: oblique;

    width: 40%;
    border: 1px solid rgb(0, 0, 0);
    resize: vertical;
    background: transparent;

    opacity: 0;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
}

.text-area.send{
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}

/* =========== */
.videoContainer{
    width: 20%;
    height: 33%;
    /* margin: 0; */
    margin-bottom: 10%;
    margin-left: 7.5%;
    float: left;
    clear: both;

    border: 2px solid black ;
    background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(#363636ce), color-stop(#c9c9c959), to(#ffffff00));
    background: linear-gradient(270deg, #000000, #363636ce, #c9c9c959, #ffffff00);
    background-size: 900% 900%;

    -webkit-animation: load 2s ease infinite;
    animation: load 2s ease infinite;

    opacity: 0;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
}

.vid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.videoContainer.send{
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}

.videoContainer.showVid{
    margin-left: 0;
    width: 100%;
    height: 100%;
    border-color: transparent;
    border-width: 0px;
}

.vid.show{
    opacity: 1;
}

@-webkit-keyframes load {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes load {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* *******************Option Container and Button Style ************************* */
.option-container{
    --optionRotateX: 90deg;
    --optionOpacity: 0;
    --optionScale: 1;

    display:block;
    -webkit-transform: rotateX(var(--optionRotateX)) scale(var(--optionScale));
            transform: rotateX(var(--optionRotateX)) scale(var(--optionScale));
    opacity: var(--optionOpacity);

    line-height: 5.2rem;
    font-family: 'para', monospace;

    -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;

    transition: opacity 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;

    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;

    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
    clear: both;
}

.white{
    color: white;
}

.option-button{
    --buttonMargin:0px;
    --buttonTextDecoration: none;

    display: inline;
    margin-left: var(--buttonMargin);
    margin-right: var(--buttonMargin);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    text-align: center;
    -webkit-text-decoration: var(--buttonTextDecoration);
            text-decoration: var(--buttonTextDecoration);
    font-size: 2.7rem;
    overflow-wrap: break-word;

    -webkit-transition: margin-left 0.5s ease, margin-right 0.5s ease;

    transition: margin-left 0.5s ease, margin-right 0.5s ease;

    cursor: pointer;
}

@media only screen and (max-width: 2560px){
    .option-container{
        line-height: 5rem;
    }
    .option-button{
        font-size: 2.5rem;
    }
    .paragraph{
        font-size: 2.5rem;
    }
    .textInput, .text-area{
        font-size: 2.2rem;
    }
    .text{
        padding: 20px;
    }

    input[type=range]::-webkit-slider-thumb{
        height: 18px;
        width: 18px;
        margin-top: -9px;
    }
    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        height: 18px;
        width: 18px;
    }
      
      /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
        height: 18px;
        width: 18px;
    }
}
@media only screen and (max-width: 1650px){
    .option-container{
        line-height: 4rem;
    }
    .option-button{
        font-size: 2rem;
        /* line-height: 4rem; */
    }
    .paragraph{
        font-size: 2.0rem;
    }
    .textInput, .text-area{
        font-size: 1.7rem;
    }
    .text{
        padding: 20px;
    }

    input[type=range]::-webkit-slider-thumb{
        height: 16px;
        width: 16px;
        margin-top: -8px;
    }
    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        height: 16px;
        width: 16px;
    }
      
      /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
        height: 16px;
        width: 16px;
    }
}
@media only screen and (max-width: 1000px){
    .option-container{
        line-height: 3.5rem;
    }
    .option-button{
        font-size: 1.7rem;
        /* line-height: 3.5rem; */
    }
    .paragraph{
        font-size: 1.7rem;
    }
    .textInput, .text-area{
        font-size: 1.4rem;
    }
    .text{
        padding: 15px;
    }

    input[type=range]::-webkit-slider-thumb{
        height: 14px;
        width: 14px;
        margin-top: -7px;
    }
    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        height: 14px;
        width: 14px;
    }
      
      /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
        height: 14px;
        width: 14px;
    }
}
@media only screen and (max-width: 600px){
    .option-container{
        line-height: 2.7rem;
    }
    .option-button{
        font-size: 1.3rem;
        /* line-height: 2.7rem; */
    }
    .paragraph{
        font-size: 1.3rem;
    }
    .textInput, .text-area{
        font-size: 1.2rem;
    }
    .text{
        padding: 12px;
    }

    input[type=range]::-webkit-slider-thumb{
        height: 11px;
        width: 11px;
        margin-top: -5.5px;
    }
    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        height: 11px;
        width: 11px;
    }
      
      /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
        height: 11px;
        width: 11px;
    }
}
@media only screen and (max-width: 490px){
    .option-container{
        line-height: 2.1rem;
    }
    .option-button{
        font-size: 1rem;
        /* line-height: 2.1rem; */
    }
    .paragraph{
        font-size: 1rem;
    }
    .textInput, .text-area{
        font-size: 0.8rem;
    }
    .text{
        padding: 8px;
    }

    input[type=range]::-webkit-slider-thumb{
        height: 8px;
        width: 8px;
        margin-top: -4px;
    }
    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        height: 8px;
        width: 8px;
    }
      
      /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
        height: 8px;
        width: 8px;
    }
}

/* ************************************************************************ */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                 supported by Chrome, Edge, Opera and Firefox */
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }