@font-face {
    font-family: 'marola';
    src: url('fonts/marola/marola__-webfont.woff2') format('woff2'),
         url('fonts/marola/marola__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'para';
    src: url('fonts/para/AveriaSans-Regular.woff2') format('woff2'),
         url('fonts/para/AveriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'para';
    src: url('fonts/para/AveriaSans-Italic.woff2') format('woff2'),
         url('fonts/para/AveriaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* @font-face{
    font-family: 'para';
    src: url('fonts/para/AveriaSans-Bold.woff2') format('woff2'),
         url('fonts/para/AveriaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */

@font-face{
    font-family: 'para';
    src: url('fonts/para/AveriaSans-BoldItalic.woff2') format('woff2'),
         url('fonts/para/AveriaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

html{
    isolation: isolate;
}
body{
    isolation: isolate;
    overflow: hidden;
}

#matter{
    position: fixed;
    left: 0%;
    top: 0%;
    touch-action: none;
}

/* -------------------style for image cube--------------------- */

#image-cube{
    --faceSize: 30vw;
    --imageRotateX: -15deg;
    --imageRotateY: 30deg; 

    margin: auto;

    width: var(--faceSize);
    height: var(--faceSize);
    border: none;

    transform-style: preserve-3d;
    transform: rotateX(var(--imageRotateX)) rotateY(var(--imageRotateY));
}

.image-cube-face{
    display: block;
    position: absolute;
    width: var(--faceSize);
    height: var(--faceSize);
    border:none;
    cursor: grab;
    backface-visibility: hidden;
}
.image-cube-face .image-cube-media{
    display: block;
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    border:none;
}
.image-cube-face:active{
    cursor:grabbing;
}

.image-cube-front {
transform: translateZ( calc(var(--faceSize)/2) );
background-color: rebeccapurple;
}
.image-cube-back {
transform: rotateY(180deg) translateZ(calc(var(--faceSize)/2));
background-color: red;
}
.image-cube-right {
transform: rotateY(90deg) translateZ(calc(var(--faceSize)/2));
background-color: brown;
}
.image-cube-left {
transform: rotateY(-90deg) translateZ(calc(var(--faceSize)/2));
background-color: blue;
}
.image-cube-top {
transform: rotateX(90deg) translateZ(calc(var(--faceSize)/2));
background-color: aqua;
}
.image-cube-bottom {
transform: rotateX(-90deg) translateZ(calc(var(--faceSize)/2));
background-color: green;
}

/* -------------------style for chat cube--------------------- */

#chat-cube{
    --faceWidthFour: 75vw;
    --faceHeightFour: 42.1875vw;
    --faceWidthTwo: 42.1875vw;
    --faceHeightTwo: 42.1875vw;

    --chatRotateX: 0deg;
    --chatRotateY: 0deg;

    --chatCubeScale: 0;

    position: fixed;
    /* left: calc(50% - var(--faceWidthFour)/2);
    top: calc(50% - var(--faceHeightFour)/2); */
    max-height: 80vh;
    max-width: 142.22222vh;
    
    width: var(--faceWidthFour);
    height: var(--faceHeightFour);
    border: none;

    z-index: 1;

    transform-style: preserve-3d;
    transform: rotateX(var(--chatRotateX)) rotateY(var(--chatRotateY)) scaleX(var(--chatCubeScale)) scaleY(var(--chatCubeScale));
}

.chat-cube-face{
    display: block;
    position: absolute; 
    box-sizing: border-box;
    border: 0.1rem black solid;
    width:100%;
    height:100%;

    -webkit-backface-visibility: visible;

            backface-visibility: visible;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
}
/* initial state: face four are front top bottom back, face two are left right */
.face-four{
    width: var(--faceWidthFour);
    height: var(--faceHeightFour);
}
.face-two{
    width: var(--faceWidthTwo);
    height: var(--faceHeightTwo);
}
.face-four-tb{
    width: var(--faceWidthFour);
    height: var(--faceWidthTwo);
}


.chat-cube-front{
    transform: translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-back{
    transform: rotateY(180deg) translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-right{
    transform: rotateY(90deg) translateZ( calc(var(--faceWidthFour) - var(--faceWidthTwo)/2));
}
.chat-cube-left{
    transform: rotateY(-90deg) translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-top{
    transform: rotateX(90deg) translateZ( calc( var(--faceHeightTwo) - (var(--faceHeightTwo) - var(--faceWidthTwo)/2) ) );
}
.chat-cube-bottom{
    transform: rotateX(-90deg) translateZ( calc(var(--faceHeightTwo) - var(--faceWidthTwo)/2) );
}

/********************************* Text  ************************************/
/* .blotter-text{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
} */
.appear{
    opacity: 1;
}
.disappear{
    opacity: 0;
}

.text{
    box-sizing: border-box;

    overflow: auto;
    width: 100%;
    height: 100%;

    text-align: center;
    padding: 20px;
}

.title{
    font-family:'marola';
    /* overflow-wrap: break-word; */
    transition: font-size 1s ease;
    margin-bottom: 12%;
}

.paragraph{
    font-family: 'para', monospace;
    font-size: 2.7rem;
    margin-bottom: 5%;
    padding-left: 7.5%;
    text-align: left;
    
    width: 50%;
    transition: transform 0.55s ease-in-out, opacity 0.55s ease-in-out;
    clear: both;
}

.chat{
    opacity: 0;
    float: left;
    transform: rotateX(90deg);
}

.response{
    float: right;
    /* text-align: right; */
    opacity: 0;
    transform: rotateX(90deg) rotateY(180deg);
}

.chat.send{
    opacity: 1;
    transform: rotateX(0deg);
}
.response.send{
    opacity: 1;
    transform: rotateX(0deg) rotateY(180deg);
}

/* *******************Option Container and Button Style ************************* */
.option-container{
    --optionRotateX: 90deg;
    --optionOpacity: 0;

    display:block;
    transform: rotateX(var(--optionRotateX));
    opacity: var(--optionOpacity);

    line-height: 5.2rem;
    font-family: 'para', monospace;

    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
}

.white{
    color: white;
}

.option-button{
    --buttonMargin:0px;
    --buttonTextDecoration: none;

    display: inline;
    margin-left: var(--buttonMargin);
    margin-right: var(--buttonMargin);
    box-sizing: border-box;

    text-align: center;
    text-decoration: var(--buttonTextDecoration);
    font-size: 2.7rem;
    overflow-wrap: break-word;

    transition: margin-left 0.5s ease, margin-right 0.5s ease;
}
@media only screen and (max-width: 2560px){
    .option-container{
        line-height: 5rem;
    }
    .option-button{
        font-size: 2.5rem;
    }
    .paragraph{
        font-size: 2.5rem;
    }
    .text{
        padding: 20px;
    }
}
@media only screen and (max-width: 1650px){
    .option-container{
        line-height: 4rem;
    }
    .option-button{
        font-size: 2rem;
        /* line-height: 4rem; */
    }
    .paragraph{
        font-size: 2.0rem;
    }
    .text{
        padding: 20px;
    }
}
@media only screen and (max-width: 1000px){
    .option-container{
        line-height: 3.5rem;
    }
    .option-button{
        font-size: 1.7rem;
        /* line-height: 3.5rem; */
    }
    .paragraph{
        font-size: 1.7rem;
    }
    .text{
        padding: 15px;
    }
}
@media only screen and (max-width: 600px){
    .option-container{
        line-height: 2.7rem;
    }
    .option-button{
        font-size: 1.3rem;
        /* line-height: 2.7rem; */
    }
    .paragraph{
        font-size: 1.3rem;
    }
    .text{
        padding: 12px;
    }
}
@media only screen and (max-width: 350px){
    .option-container{
        line-height: 2.1rem;
    }
    .option-button{
        font-size: 1rem;
        /* line-height: 2.1rem; */
    }
    .paragraph{
        font-size: 1rem;
    }
    .text{
        padding: 8px;
    }
}

/* ************************************************************************ */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                 supported by Chrome, Edge, Opera and Firefox */
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }