.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* -------------------style for image cube--------------------- */

#image-cube{
    --faceSize: 32vmin;
    --imageRotateX: -15deg;
    --imageRotateY: 30deg; 

    margin: auto;
    margin-top:200px;

    width: var(--faceSize);
    height: var(--faceSize);
    border: none;

    transform-style: preserve-3d;
    transform: rotateX(var(--imageRotateX)) rotateY(var(--imageRotateY));
}

.image-cube-face{
    display: block;
    position: absolute;
    width: var(--faceSize);
    height: var(--faceSize);
    border:none;
}
.image-cube-face .image-cube-media{
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    border:none;
}

.image-cube-front {
transform: translateZ( calc(var(--faceSize)/2) );
}
.image-cube-back {
transform: rotateY(180deg) translateZ(calc(var(--faceSize)/2));
}
.image-cube-right {
transform: rotateY(90deg) translateZ(calc(var(--faceSize)/2));
}
.image-cube-left {
transform: rotateY(-90deg) translateZ(calc(var(--faceSize)/2));
}
.image-cube-top {
transform: rotateX(90deg) translateZ(calc(var(--faceSize)/2));
}
.image-cube-bottom {
transform: rotateX(-90deg) translateZ(calc(var(--faceSize)/2));
}

/* -------------------style for chat cube--------------------- */

#chat-cube{
    --faceWidthFour: 70vw;
    --faceHeightFour: 39.375vw;
    --faceWidthTwo: 39.375vw;
    --faceHeightTwo: 39.375vw;

    --chatRotateX: 0deg;
    --chatRotateY: 0deg;

    margin: auto;
    margin-top:200px;
    margin-bottom:300px;

    width: var(--faceWidthFour);
    height: var(--faceWidthTwo);
    border: none;

    transform-style: preserve-3d;
    transform: rotateX(var(--chatRotateX)) rotateY(var(--chatRotateY));
}

.chat-cube-face{
    display: block;
    position: absolute; 
    box-sizing: border-box;
    border: 0.2rem black solid;
    width:100%;
    height:100%;

    backface-visibility: visible;
    background: rgba(255,255,255,0.5);
}
/* initial state: face four are front top bottom back, face two are left right */
.face-four{
    width: var(--faceWidthFour);
    height: var(--faceHeightFour);
}
.face-two{
    width: var(--faceWidthTwo);
    height: var(--faceHeightTwo);
}
.face-four-tb{
    width: var(--faceWidthFour);
    height: var(--faceWidthTwo);
}


.chat-cube-front{
    transform: translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-back{
    transform: rotateY(180deg) translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-right{
    transform: rotateY(90deg) translateZ( calc(var(--faceWidthFour) - var(--faceWidthTwo)/2));
}
.chat-cube-left{
    transform: rotateY(-90deg) translateZ( calc(var(--faceWidthTwo)/2) );
}
.chat-cube-top{
    transform: rotateX(90deg) translateZ( calc( var(--faceHeightTwo) - (var(--faceHeightTwo) - var(--faceWidthTwo)/2) ) );
}
.chat-cube-bottom{
    transform: rotateX(-90deg) translateZ( calc(var(--faceHeightTwo) - var(--faceWidthTwo)/2) );
}


/* .chat-cube-facing-front{
    transform: rotateX(0deg) rotateY(0deg);
}

.chat-cube-facing-left{
    transform: rotateX(0deg) rotateY(90deg);
}

.chat-cube-facing-right{
    transform: rotateX(0deg) rotateY(-90deg);
}

.chat-cube-facing-bottom{
    transform: rotateX(90deg) rotateY(0deg);
}

.chat-cube-facing-top{
    transform: rotateX(-90deg) rotateY(0deg);
}

.chat-cube-facing-back{
    transform: rotateX(0deg) rotateY(180deg);
} */
