.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


.cube{
    --faceSize: 32vmin;
    --rotateX: -15deg;
    --rotateY: 30deg; 

    margin: auto;
    margin-top:200px;

    width: var(--faceSize);
    height: var(--faceSize);
    border: none;

    transform-style: preserve-3d;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
    transition: transform .5 ease-in-out;
}

.cube-face{
    display: block;
    position: absolute;
    width: var(--faceSize);
    height: var(--faceSize);
    border:none;
}
.cube-face .cube-media{
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    border:none;
}

.cube-front {
transform: translateZ( calc(var(--faceSize)/2) );
}

.cube-back {
transform: rotateY(180deg) translateZ(calc(var(--faceSize)/2));
}

.cube-right {
transform: rotateY(90deg) translateZ(calc(var(--faceSize)/2));
}

.cube-left {
transform: rotateY(-90deg) translateZ(calc(var(--faceSize)/2));
}

.cube-top {
transform: rotateX(90deg) translateZ(calc(var(--faceSize)/2));
}

.cube-bottom {
transform: rotateX(-90deg) translateZ(calc(var(--faceSize)/2));
}

/* .cube-start{
    transform: rotateX(-15deg) rotateY(30deg);
}

.cube-facing-front{
    transform: rotateX(0deg) rotateY(0deg);
}

.cube-facing-left{
    transform: rotateX(0deg) rotateY(90deg);
}

.cube-facing-right{
    transform: rotateX(0deg) rotateY(-90deg);
}

.cube-facing-bottom{
    transform: rotateX(90deg) rotateY(0deg);
}

.cube-facing-top{
    transform: rotateX(-90deg) rotateY(0deg);
}

.cube-facing-back{
    transform: rotateX(0deg) rotateY(180deg);
} */
